@define-color background-color #0000001A;
@define-color border-color #525252;
@define-color label #ffffff;
@define-color image #ffffff;
@define-color progress #a0a0a0;
window#osd {
    border-radius: 10px;
    /* You must also add overflow: hidden to ensure the background doesn't leak past the corners */
    overflow: hidden; 
}

/* Sometimes you need to target the internal box specifically */
#container {
    border-radius: 10px;
}

